@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --btn: #0D6EFD;
  --danger: #DC3545;
  --input: #F5F7F9;
  --bg: #F2F3F7;
  --white: #fff;
  --black: #000;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* global css */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: var(--btn);
  color: white;
  border: 2px solid var(--btn);
}

@media screen and (min-width: 576px) {}

/* Medium devices (tablets) */

@media (min-width: 768px) {}

/* Large devices (desktops) */

@media (min-width: 991px) {}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {}