@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --btn: #0D6EFD;
  --danger: #DC3545;
  --input: #ecf3f9;
  --bg: #F2F3F7;
  --white: #fff;
  --black: #000;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* global css */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h5 {
  font-weight: 600;
}

span {
  font-weight: 100;
}

input {
  padding: 8px 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--input);
  font-size: 13px;
  font-weight: 100;
}

.btn {
  display: inline-block;
  height: fit-content;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  /* customize */
  background-color: var(--btn);
  color: white;
  border: 2px solid var(--btn);
}

/* Custom CSS */
.container {
  display: flex;
  flex-direction: row;
  margin: 22px 107px;
}

.container-1 {
  width: 63vw;
  height: auto;
  padding: 20px 0px;
  border-radius: 12px;
  border: 1px solid lightgray;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Date & Invoice Container */
.date-and-invoice {
  width: 90%;
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid lightgray;
}

.date-calender>h5 {
  padding-bottom: 10px;
}

.date-calender>h5>input {
  padding: 8px 5px;
  border-radius: 4px;
}

.invoice-count>h5>input {
  width: 60px;
  padding: 8px 10px;
  border-radius: 4px;
}

/* Billing Container */
.billing-address {
  padding: 25px 0px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  border-bottom: 1px solid lightgray;
}

.billing-address>.bill-to>h5,
.billing-address>.bill-from>h5 {
  margin-bottom: 10px;
}

.billing-address>.bill-to>input {
  width: 425px;
  padding: 8px 8px;
  border-radius: 4px;
}

.billing-address>.bill-from>input {
  width: 425px;
  padding: 8px 8px;
  border-radius: 4px;
}

.bill-to {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.bill-from {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

/* Order Details */
.item-detail {
  width: 90%;
  padding: 25px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;

  border-bottom: 1px solid lightgray;
}

.item-detail-name {
  width: 90%;
  padding: 25px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;

  border-bottom: 1px solid lightgray;
}

.item-detail {
  padding: 25px 0px 10px;
}

.item-name-description {
  width: 62%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-qty {
  width: 10%;
  height: fit-content;
}

.item-qty>input {
  padding: 8px 8px;
  width: 50px;
  height: fit-content;
}

.item-price {
  width: 15%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.item-price>input {
  padding: 8px 8px;
  width: 90px;
}

.item-price>span {
  padding: 5px 8px;
  background-color: var(--input);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.item-action>button {
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--white);
  background-color: var(--danger);
}

/* Add Item + Calc*/
.add-item-calc {
  width: 90%;
}

.btn-add-item {
  display: inline-block;
  border-radius: 6px;
  padding: 12px 10px;
}

/* Calculation Container */
.calculation-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 25px 0 15px;
  border-bottom: 1px solid lightgray;
}

.price-calculation {
  width: 415px;
}

.total-calc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-calc>span {
  font-size: 12px;
  font-weight: normal;
}

.total {
  border-top: 2px solid lightgray;
}

.total>h5 {
  font-size: 16px;
  padding: 20px 0 0px;
}

/* Notes */
.notes {
  width: 90%;
  padding: 25px 0;
}

.notes>h5 {
  margin-bottom: 15px;
}

.notes>input {
  width: 100%;
}

/* Container 2 */
.container-2 {
  margin: 0px 20px;
  width: 307px;
}

.review {
  padding: 0px 0px 25px;
  border-bottom: 1px solid lightgray;
}

.invoice>button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--btn);
  color: white;
  border: 2px solid var(--btn);
}

.rate-calc>.currency>h5 {
  margin-top: 20px;
}

.rate-calc>.currency>select {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rate-calc>.tax>h5 {
  margin-top: 20px;
}

.rate-calc>.discount>h5 {
  margin-top: 20px;
}

.rate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rate-input {
  width: 100%;
}

.rate>.rate-input>input {
  width: 90%;
  border: 1px solid lightgray;
  background-color: var(--white);
}

.rate>.rate-input>span {
  margin-top: 5px;
  font-size: 16px;
  padding: 4px 8px;
}

/* Media Query */

@media (max-width: 768px) {

  h5 {
    font-weight: 500;
  }

  input {
    font-size: 12px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-1 {
    width: 90vw;
  }

  /* Billing Container */
  .billing-address {
    width: 90%;
  }

  .billing-address>.bill-to>,
  .billing-address>.bill-from> {
    width: 50%;
  }

  .billing-address>.bill-to>input {
    width: 100%;
  }

  .billing-address>.bill-from>input {
    width: 100%;
  }

  /* Order Details */
  .item-name-description {
    width: 30%;
  }

  .item-price {
    width: 25%;
  }

  .item-price>input {
    padding: 8px 8px;
    width: 100%;
  }

  /* Container 2 */
  .container-2 {
    width: 90vw;
    margin-top: 20px;
  }
}